html {
  font-size: 14px;
}

body {
  place-items: center;
  font-family: system-ui;
  margin: 0 10rem;
  padding: 3rem;
  display: grid;
  min-height: 100vh;
}

h1 {
  text-shadow: .1rem 0 white, 0 -.1rem white;
  border-radius: 4rem;
  padding: 1rem 2rem;
  text-align: center;
}


.page_color {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

span {
  display: block;
  padding: 1rem;
  font-weight: bold;
  font-family: monospace;

}

button {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline;
}

button:hover {
  background-color: antiquewhite;
}

footer {
  text-align: right;
}

/* responsive cho điện thoại */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 5rem 10rem;
    padding: 5rem;

  }

  h1 {
    font-size: 5rem;
  }

  .page_color {
    border-radius: 4rem;
    padding: 2rem 4rem;
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  span, .grd {
    font-size: 4rem;
  }

  button {
    border-radius: 2rem;
    padding: 3rem 2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
  }

  footer {
    font-size: 3rem;
  }
}

/* responsive cho máy tính bảng */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  body {
    margin: 3rem 8rem;
    padding: 5rem;
  }

  h1 {
    font-size: 4rem;
  }

  .page_color {
    border-radius: 3rem;
    padding: 1rem 3rem;
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  span,
  .grd {
    font-size: 3rem;
  }

  button {
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  footer {
    font-size: 2rem;
  }
}

/* responsive cho máy tính */

@media only screen and (min-device-width: 1025px) {
  body {
    margin: 2rem 5rem;
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .page_color {
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  span,
  .grd {
    font-size: 2rem;
  }

  button {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  footer {
    font-size: 1rem;
  }
}